body {
	background-color: black;

}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu {
	width: 659px;
	height: 494px;
}

.ryu-still, .ryu-ready, .ryu-throwing {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');

}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-still, .ryu-ready, .ryu-throwing {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 156px;
	left: 490px;
	z-index: 10;
}

.how-to {
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 43px;
	
}

.how-to p {
	text-transform: uppercase;;
	width: 50%;
	color: black;
	font-size: 32px;
	line-height: 45px;
	display: block;
	font-family: 'bangers';
	color: orangered;
	letter-spacing: 0.1em;
}

.how-to p + p {
	margin-left: 275px;
}